BACKEND_PORT=5007
FRONTEND_PORT=3000
ENV=development
ENABLE_DISTRIBUTED=false

TWILIO_ACCOUNT_SID="..."
TWILIO_AUTH_TOKEN="..."
TWILIO_PHONE_NUMBER="+12345678901"
ALERT_RECIPIENT_PHONE="+12345678901"

REDIS_PORT=6379
API_ENDPOINT=http://localhost:5007
